<% layout('/layouts/boilerplate') %> 
<div class="row">
    <div class="col-6">
      <div id="noteCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% mentor.images.forEach((img,i)=>{ %>
          <div class="carousel-item <%= i===0 ? 'active': ''%>">
            <img src="<%=img.url%>" class="d-block w-100" alt="">
          </div>
          <% }) %> 
        </div>
        <%if(mentor.images.length>1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#noteCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#noteCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%=mentor.name%></h5>
              <p class="card-text"><%=mentor.type%></p>
              <p class="card-text"><%=mentor.profession%></p>
              <p class="card-text"><%=mentor.department%></p>
              <p class="card-text"><%=mentor.degree%></p>
            </div>
        
            <div class="card-body">
                <a  class="card-link btn btn-info" href="/<%=currentUser._id%>/admin/mentor">Back to Mentor</a>
                
                       
                </form>

            </div>
        </div>
    </div>
</div>
    
</body>
</html>